<h1>TBDBLOG</h1>
<p>This is my first App in RoR!</p>

<%= render :partial => 'layouts/navbar' %>

<p>Our blog has <%= Article.public_count %> public articles</p>

<h2>Articles list</h2>

<ul>
<% @articles.each do |item|
    unless item.archived? %>
  <li> 
    <%= link_to item.title, article_path(item) %>
  </li>
<%  end
   end %>
</ul>
<br>
<%= link_to "New article", new_article_path%>